name: release-please

on:
  push:
    branches: 
      - main

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: release-please-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release-please:
    runs-on: ubuntu-latest

    steps:
      - name: Release Check
        uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: node
          changelog-types: '[{"type":"feat","section":"Features","hidden":false},{"type":"fix","section":"Bug Fixes","hidden":false},{"type":"chore","section":"Miscellaneous","hidden":false}]'

      - name: Checkout
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@v3

      - name: Read Properties
        id: name
        uses:  ashley-taylor/read-json-property-action@v1.0
        with:
          path: ./package.json
          property: name


      - name: Setup node
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        if: ${{ steps.release.outputs.release_created }}
        run: npm install -g yo generator-code @vscode/vsce

      - name: Package
        if: ${{ steps.release.outputs.release_created }}
        run: vsce package

      - name: Upload Release Artifact
        if: ${{ steps.release.outputs.release_created }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run:
          gh release upload ${{ steps.release.outputs.tag_name }} ./${{ steps.name.outputs.value }}-${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }}.${{ steps.release.outputs.patch }}.vsix

        

